<div class="container-fluid d-flex buildguides">
    <div>
        <pcpart-store-title-card>Loading...</pcpart-store-title-card>
    </div>
    <div *ngFor="let product of products">
        <pcpart-category-card img={{product.img}} title={{product.title}} [price]='product.price'
            [comments]='product.comments' description={{product.description}}>Loading...</pcpart-category-card>
    </div>

</div>


<div class="container-fluid brandcard completebuilds">
    <h5>Completed Builds</h5>
    <hr class="solid">



    <div class="container-fluid d-flex">
        <div class="row">
            <featuredbuild class="col-md-auto"></featuredbuild>

            <div *ngIf="builds != undefined">
                <div class="d-flex justify-content-around">

                <div *ngFor="let card of builds" class="col-md-auto">
                        <pcpart-build-card img="{{card.img}}" title="{{card.title}}" upvotes="{{card.upvotes}}"
                            cpu="{{card.cpu}}" gpu="{{card.gpu}}" price="{{card.price}}" comments="{{card.comments}}"
                            userID="{{card.userID}}"></pcpart-build-card>
                    </div>

                </div>

            </div>

        </div>



    </div>
</div>