.buildguides{

    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 50px;
    background-color: rgb(88, 86, 86);
}

.completebuilds{

    padding-top: 50px;
    padding-bottom: 50px;
    background-color:lightgrey;
}
