
<nav class="navbar navbar-expand">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><img src="/assets/PCPartPicker_Logo.png" height="50" width="50">PC<span
        id="PART">PART</span>PICKER</a>


    <a id="right-nav" href="#">Log In <span style="color: grey;">|</span></a>
    <a id="right-nav" href="#">Register <span style="color: grey;">|</span></a>
    <a id="right-nav" href="#">United States </a>
    <label class="switch">
      <input type="checkbox">
      <span class="slider"></span>
    </label>

  </div>

</nav>