.card{
    width: 25rem;
    height: 40rem;
    background-color: #B18C5A;
    padding: 10pt;
    margin-right: 2rem;
}

.card .card-title{
    color: white;
    font-size: 17pt;
    font-weight: bold;
    text-decoration: none;
}
.card .card-text{

  font-size: 10 pt;
  font-weight: bold;


}

.card:hover{
  outline: 2pt solid black ;
}

#comments{
  float: right;
}