h2{
    text-align: center;
    background-color: #5d476f;
    padding: 40px;
    color: white;
}

#lists{

    margin: auto;
}
.card{

    width: 90rem;
    height: 4rem;
    margin: auto;
    border: none;
}
.col-1{
    font-size: small;
}
