

nav .navbar-nav li a{
    color: white ;
    }

nav .navbar-nav li a:hover{
    color: goldenrod ;
    background: grey;

}

.grey{
    color: grey;
}
.back{
   
    background-color: #312f43; 
    padding: 25px;
}

.dropdown-menu{
    background-color: #191b2b;
  }
  .dropdown-divider{

    color:grey;
  }